<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
    
    // let login = 'Xoce'
    // let password = 'Kadzama'

    const request = new XMLHttpRequest();
    var body = JSON.stringify({
        name: "Виктор",
        surname: "Цой"
        });
    // let body = 'login=' + login + '&password=' + password;
    request.open("POST", "/api", true);
    request.setRequestHeader("Content-type", "application/json; charset=utf-8");
    request.send(body);

    request.onreadystatechange = function() {
        console.log(request.responseText);
    }

    
</script>
    <div id='len'></div>
    <!-- <script src="{{ url_for( 'static', filename='script.js')}}"></script> -->

    <!-- <form method="POST" action="/api">
        <input type="text" name="sms">
    </form> -->
</body>
</html>